<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bixpos.batch.business.mapper.BillingMapper">
    <!-- 이용 상태 변경 (무료사용 기간 만료 항목에 대한 일괄 변경처리 신규->이용중) -->
    <update id="updateBillingStatus">
        UPDATE TOP (100000) SB
        SET SB_ST     = 'S', -- 이용중(구독중)
            MOD_USRID = 'SYSTEM',
            MOD_DT    = GETDATE()
        FROM ${accdtdb}.dbo.SHOP_BILL SB
        WHERE SB.SB_ST = 'N' -- 신규
          AND CAST(SB.SB_PAY_START_MM + '01' AS DATETIME) <![CDATA[<]]> GETDATE()
    </update>
</mapper>